<p>Some of the things I play around with.</p>

<div class="row">
    <div class="4u">
        <article class="item">
            <a href="/lab/segment-clock/" class="image fit"><img src="/images/segment-clock.png" alt="Segment Clock" /></a>
            <header>
                <h3>Segment Clock</h3>
            </header>
        </article>
    </div>
    <div class="4u">
        <article class="item">
            <a href="/lab/helvetica-clock/" class="image fit"><img src="images/helvetica-clock.png" alt="Helvetica Clock" /></a>
            <header>
                <h3>Helvetica Clock</h3>
            </header>
        </article>
    </div>
    <div class="4u">
        <article class="item">
            <a href="/lab/snake/" class="image fit"><img src="images/snake.png" alt="Snake" /></a>
            <header>
                <h3>Snake</h3>
            </header>
        </article>
    </div>
</div>