<div class="sharer">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}{{page.url}}" class="facebook-share"><i class="fa fa-facebook-square"></i></a>
    <a target="_blank" href="https://twitter.com/home?status={{url}}{{page.url}}" class="twitter-share"><i class="fa fa-twitter-square"></i></a>
</div>