<!--
                                                          _ 
|  ||_  _ |_   _  _ _     _      | _  _ | . _  _    _ |_   )
|/\|| )(_||_  (_|| (-  \/(_)|_|  |(_)(_)|(|| )(_)  (_||_  . 
                       /                      _/            
                              
|__| _    _   _   | .|_|_     
|  |(_|\/(-  (_|  |(||_|_\/.  
                         /    
    
                   .               ,.
                  T."-._..---.._,-"/|
                  l|"-.  _.v._   (" |
                  [l /.'_ \; _~"-.`-t
                  Y " _(o} _{o)._ ^.|
                  j  T  ,-<v>-.  T  ]
                  \  l ( /-^-\ ) !  !
                   \. \.  "~"  ./  /c-..,__
                     ^r- .._ .- .-"  `- .  ~"--.
                      > \.                      \
                      ]   ^.                     \
                      3  .  ">            .       Y  
         ,.__.--._   _j   \ ~   .         ;       |
        (    ~"-._~"^._\   ^.    ^._      I     . l
         "-._ ___ ~"-,_7    .Z-._   7"   Y      ;  \       
            /"   "~-(r r  _/_--._~-/    /      /,.--^-._   
            "-._    '"~~~>-._~]>--^---./____,.^~        ^.
                ~--._    '   Y---.                        \
                     ~~--._  l_   )                        \
                           ~-._~~~---._,____..---           \
                               ~----"~       \
                                              \
-->
<!DOCTYPE HTML>
<html>
    {{>head}}
    <body>

        <!-- Header -->
            <div id="header" class="skel-layers-fixed">

                <div class="top">

                    <!-- Logo -->
                        <div id="logo">
                            <span class="image avatar48">
                              <img src="/images/profile_new.jpg" alt="Profile" />
                            </span>
                            <h1 id="title">Bhashkar Sharma</h1>
                            <p></p>
                        </div>

                    <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a href="/#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
                                <li><a href="/#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
                                <li><a href="/#lab" id="lab-link" class="skel-layers-ignoreHref"><span class="icon fa-rocket">Lab</span></a></li>
                                <li><a href="/#posts" id="posts-link" class="skel-layers-ignoreHref"><span class="icon fa-book">Posts</span></a></li>
                            </ul>
                        </nav>
                        
                </div>
                
                <div class="bottom">

                    <!-- Social Icons -->
                        <ul class="icons">
                            <li><a href="https://twitter.com/bhashkarsharma" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://linkedin.com/in/bhashkarsharma" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            <li><a href="http://github.com/bhashkarsharma" class="icon fa-github"><span class="label">Github</span></a></li>
                            <li><a href="mailto:info@bhashkar.me" class="icon fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                
                </div>
            
            </div>

        <!-- Main -->
            <div id="main">

                {{{body}}}
            
            </div>

        <!-- Footer -->
            <div id="footer">
                
                <!-- Copyright -->
                    <ul class="copyright">
                        <li>&copy; Bhashkar Sharma. All rights reserved.</li>
                        <li>Theme by <a href="http://html5up.net">HTML5 UP</a></li>
                        <li>Generated using <a href="http://wintersmith.io">Wintersmith</a></li>
                    </ul>
                
            </div>

    {{>ga}}

    </body>
</html>